{# TODO there should be some kind of table even when no game has been played yet #}

{% if season is null %}
    <div class="alert info">
        There is no season at the moment.
    </div>
{% else %}
    <div class="whitepad">
        <table class="ladder w100">
            <thead>
            <tr>
                <th colspan="3"></th>
                <th colspan="5">Rounds</th>
                <th colspan="7">Games</th>
                <th colspan="2"></th>
            </tr>
            <tr>
                <th>#</th>
                <th>Player</th>
                <th>Points</th>
                <th colspan="2">Played</th>
                <th colspan="2">Won</th>
                <th>Lost</th>
                <th colspan="2">Played</th>
                <th colspan="2">Won</th>
                <th>Lost</th>
                <th colspan="2">Streak<br>(Best)</th>
                <th>Activity</th>
                <th>Recent</th>
            </tr>
            </thead>
            <tbody>
            {% for ranking in ladder %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>
                    <a href="{{ path('app_user_view', {usernameOrId: ranking.user}) }}">
                        {{ ranking.user }}
                    </a>
                </td>
                <td class="text-bold">
                    {{ ranking.points_rounded|pad(ladder, 'points_rounded') }}
                </td>
                <td>
                    {{ ranking.rounds_played|pad(ladder, 'rounds_played') }}
                </td>
                <td>
                    {{ ranking.rounds_played_ratio|format_number(style='percent')
                        |pad(ladder, 'rounds_played_ratio') }}
                </td>
                <td class="text-green">
                    {{ ranking.rounds_won|pad(ladder, 'rounds_won') }}
                </td>
                <td>
                    {{ ranking.rounds_won_ratio|format_number(style='percent')
                        |pad(ladder, 'rounds_won_ratio') }}
                </td>
                <td class="text-red">
                    {{ ranking.rounds_lost|pad(ladder, 'rounds_lost') }}
                </td>
                <td>
                    {{ ranking.games_played|pad(ladder, 'games_played') }}
                </td>
                <td>
                    {{ ranking.games_played_ratio|format_number(style='percent')|
                        pad(ladder, 'games_played_ratio') }}
                </td>
                <td class="text-green">
                    {{ ranking.games_won|pad(ladder, 'games_won') }}
                </td>
                <td>
                    {{ ranking.games_won_ratio|format_number(style='percent')|pad(ladder, 'games_won_ratio') }}
                </td>
                <td class="text-red">
                    {{ ranking.games_lost|pad(ladder, 'games_lost') }}
                </td>
                <td class="streak">
                    <span class="{{ ranking.streak < 0 ? 'text-red' : 'text-green' }}">
                        {{ ranking.streak|pad(ladder, 'streak') }}
                    </span>
                </td>
                <td class="streak letter-spacing-compressed">
                    {{ ranking.streak_best|pad(ladder, 'streak_best') }}
                </td>
                <td>{{ ranking.activity }}</td>
                <td class="text-left">
                    {% for g in ranking.games %}
                        <a href="{{ path('app_match_view', {gameId: g.id}) }}">
                            <i class="recent {{ g.label }}"
                               data-tooltip="{{ g.score.owner}}–{{ g.score.opp }} {{ g.opp.username }}"></i>
                        </a>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

