{# TODO pagination #}

{% if season is null or games is empty %}
    <div class="alert info">
        There are no matches yet.
    </div>
{% else %}
    <div class="whitepad">
        <table class="matches w100">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Reported</th>
                    <th colspan="3">Score</th>
                    <th>
                        <!--<i class="comment"></i>-->
                        <img src="{{ asset('/img/speech.png') }}" alt="Comments" title="Comments">
                    </th>
                    <th colspan="5"></th>
                </tr>
            </thead>
            <tbody>
                {% for game in games | sort((a,b) => b.reportedAt <=> a.reportedAt) %}
                <tr>
                    <td>
                        <a href="{{ path(game.isPlayoff() ? 'app_po_view' : 'app_match_view', {gameId: game.id}) }}">
                            {{ game.id }}
                        </a>
                    </td>
                    <td class="letter-spacing-compressed">
                        {% if game.fullyProcessed() %}
                            <span data-tooltip="Played at {{ game.playedAt() | date('M. j, H:i') }}">
                                {{ game.reportedAt | date('M. j, H:i') }}
                            </span>
                        {% else %}
                            {{ game.reportedAt | date('M. j, H:i') }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('app_user_view', {usernameOrId: game.home.username}) }}{{ season.active ? '' : '?season=' ~ season.id }}">
                            {{ game.home.username }}
                        </a>
                    </td>
                    <td class="text-bold">
                        {{ game.scoreHome }}–{{ game.scoreAway }}
                    </td>
                    <td>
                        <a href="{{ path('app_user_view', {usernameOrId: game.away.username}) }}{{ season.active ? '' : '?season=' ~ season.id }}">
                            {{ game.away.username }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path(game.isPlayoff() ? 'app_po_view' : 'app_match_view', {gameId: game.id}) }}#comments">
                            {{ game.comments|length }}
                        </a>
                    </td>
                    {% set replays = game.replays|filter(r => not r.processed() or (r.processed() and r.winner() is not null))  %}
                    {% for replay in replays | sort((a,b) =>
                        (a.replayData is null or b.replayData is null) ? 0 : (a.replayData.data.startedAt <=> b.replayData.data.startedAt)) %}
                        <td class="ministat">
                            <a href="{{ asset('/replays/' ~ game.id ~ '/' ~ replay.name) }}"
                               class="inline-block"
                               {% if replay.processed() %}data-tooltip="{{ replay.replayData.startedAt() | date('M. j, H:i') }}"{% endif %}>
                                <img src="{{ asset('/img/replay.png') }}"
                                     alt="Download Replay"
                                     title="Download Replay">
                            </a>
                            {% if replay.processed() %}
                                <div class="inline-block" data-tooltip="{{ replay.replayData.texture.local() }}">
                                    <div class="texture">
                                        <img src="{{ asset('/img/terrains/' ~ replay.replayData.texture().value ~ '.gif') }}"
                                             alt="{{ replay.replayData.texture().local() }}">
                                        {% if replay.replayData.data.suddenDeath %}
                                            <img src="{{ asset('/img/water.gif') }}"
                                                 class="sudden-death"
                                                 style="left: -{{ random(0,40)/10 }}rem;">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="color-badge {{ replay.winnerColor() | lower }}"
                                     data-tooltip="{{ replay.replayData.winner() }}">
                                </div>
                            {% else %}
                                <div class="inline-block" data-tooltip="Processing">
                                    <div class="processing">
                                        <img src="{{ asset('/img/gameoptions.png') }}">
                                    </div>
                                </div>
                            {% endif %}
                        </td>
                    {% endfor %}
                    {% if 5-(replays|length) > 0 %}
                        <td colspan="{{ 5-(replays|length) }}"></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}


