<pre>{{ dump(games) }}</pre>
<pre>{{ dump(tree) }}</pre>
<pre>{{ dump(steps) }}</pre>

<div class="playoffs">
    {% for step in 1..steps %}
        <div class="step">
            {% for spot in 1..(tree[1]|length)//(2**(step-1)) %}
                {% set g = tree[step] is defined and tree[step][spot] is defined ? tree[step][spot] : null %}
                <table class="spot">
                    <tbody>
                    {% if g is null %}
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>
                                {% if g.home %}
                                    <a href="{{ path('app_user_view', {usernameOrId: g.home.username}) }}{{ season.active ? '' : '?season=' ~ season.id }}">
                                        {{ g.home.username }}
                                    </a>
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </td>
                            <td>
                                {{ g.scoreHome }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {% if g.away %}
                                    <a href="{{ path('app_user_view', {usernameOrId: g.away.username}) }}{{ season.active ? '' : '?season=' ~ season.id }}">
                                        {{ g.away.username }}
                                    </a>
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </td>
                            <td>
                                {{ g.scoreAway }}
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            {% endfor %}
        </div>
    {% endfor %}
</div>

