{% extends 'base.html.twig' %}

{% block title %}Ladder{% endblock %}

{% block body %}

<div class="whitepad">
    <table class="ladder">
        <thead>
        <tr>
            <th>#</th>
            <th>Player</th>
            <th>Points</th>
            <th>Rounds Played</th>
            <th>Rounds Played %</th>
            <th>Rounds Won</th>
            <th>Rounds Won %</th>
            <th>Rounds Lost</th>
            <th>Games Played</th>
            <th>Games Played %</th>
            <th>Games Won</th>
            <th>Games Won %</th>
            <th>Games Lost</th>
            <th colspan="2">Streak (Best)</th>
            <th>Activity</th>
            <th>Recent</th>
        </tr>
        </thead>
        <tbody>
        {% for ranking in season.rankings|sort((a,b) => b.ranking() - a.ranking()) %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>
                <a href="{{ path('app_user_view', {usernameOrId: ranking.owner.username}) }}">
                    {{ ranking.owner.username }}
                </a>
            </td>
            <td class="text-bold">
                {{ ranking.points|pad(season.rankings, 'getPoints') }}
            </td>
            <td>
                {{ ranking.roundsPlayed|pad(season.rankings, 'getRoundsPlayed') }}
            </td>
            <td>
                {{ ranking.roundsPlayedRatio|format_number(style='percent')
                    |pad(season.rankings, 'getRoundsPlayedRatio') }}
            </td>
            <td class="text-green">
                {{ ranking.roundsWon|pad(season.rankings, 'getRoundsWon') }}
            </td>
            <td>
                {{ ranking.roundsWonRatio|format_number(style='percent')
                    |pad(season.rankings, 'getRoundsWonRatio') }}
            </td>
            <td class="text-red">
                {{ ranking.roundsLost|pad(season.rankings, 'getRoundsLost') }}
            </td>
            <td>
                {{ ranking.gamesPlayed|pad(season.rankings, 'getGamesPlayed') }}
            </td>
            <td>
                {{ ranking.gamesPlayedRatio|format_number(style='percent')|
                    pad(season.rankings, 'getGamesPlayedRatio') }}
            </td>
            <td class="text-green">
                {{ ranking.gamesWon|pad(season.rankings, 'getGamesWon') }}
            </td>
            <td>
                {{ ranking.gamesWonRatio|format_number(style='percent')|pad(season.rankings, 'getGamesWonRatio') }}
            </td>
            <td class="text-red">
                {{ ranking.gamesLost|pad(season.rankings, 'getGamesLost') }}
            </td>
            <td class="streak">
                <span class="{{ ranking.streak < 0 ? 'text-red' : 'text-green' }}">
                    {{ ranking.streak|pad(season.rankings, 'getStreak') }}
                </span>
            </td>
            <td class="streak letter-spacing-compressed">
                ({{ ranking.streakBest }})
            </td>
            <td>{{ ranking.activity }}</td>
            <td>
                {% for rec in ranking.recent|split('') %}
                    {% if rec == 'W' %}
                        <i class="recent won"></i>
                    {% elseif rec == 'L' %}
                        <i class="recent lost"></i>
                    {% else %}
                        <i class="recent"></i>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

