{% extends 'base.html.twig' %}

{% block title %}Ladder{% endblock %}

{% block body %}

<div class="whitepad">
    <table class="ladder">
        <thead>
        <tr>
            <th>#</th>
            <th>Player</th>
            <th>Points</th>
            <th>Rounds Played</th>
            <th>Rounds Played %</th>
            <th>Rounds Won</th>
            <th>Rounds Won %</th>
            <th>Rounds Lost</th>
            <th>Games Played</th>
            <th>Games Played %</th>
            <th>Games Won</th>
            <th>Games Won %</th>
            <th>Games Lost</th>
            <th>Streak (Best)</th>
            <th>Activity</th>
            <th>Recent</th>
        </tr>
        </thead>
        <tbody>
        {% for ranking in season.rankings|sort((a,b) => b.points - a.points) %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>
                <a href="todo">
                    {{ ranking.owner.username }}
                </a>
            </td>
            <td class="text-bold">{{ ranking.points }}</td>
            <td>{{ ranking.roundsPlayed }}</td>
            <td>{{ ranking.roundsPlayedRatio }}</td>
            <td class="text-green">{{ ranking.roundsWon }}</td>
            <td>{{ ranking.roundsWonRatio }}</td>
            <td class="text-red">{{ ranking.roundsLost }}</td>
            <td>{{ ranking.gamesPlayed }}</td>
            <td>{{ ranking.gamesPlayedRatio }}</td>
            <td class="text-green">{{ ranking.gamesWon }}</td>
            <td>{{ ranking.gamesWonRatio }}</td>
            <td class="text-red">{{ ranking.gamesLost }}</td>
            <td>
                <span class="{{ ranking.streak < 0 ? 'text-red' : 'text-green' }}">
                    {{ ranking.streak }}
                </span>
                ({{ ranking.streakBest }})
            </td>
            <td>{{ ranking.activity }}</td>
            <td>
                {% for rec in ranking.recent|split('') %}
                    {% if rec == 'W' %}
                        <i class="recent won"></i>
                    {% elseif rec == 'L' %}
                        <i class="recent lost"></i>
                    {% else %}
                        <i class="recent"></i>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

