{% extends 'base.html.twig' %}

{% block body %}

<div class="current-season">
    {% if state.state.name == 'NONE' %}
        We're currently<br>
        <strong>off-season</strong>.
    {% else %}
        <strong>{{ season.name }}</strong><br>
        {% if state.state.name == 'LADDER' %}
            ending {{ season.ending | countdown('days', 'in') }}
        {% elseif state.state.name == 'PLAYOFFS' %}
            playoffs are under way
        {% elseif state.state.name == 'ENDING' %}
            has ended.
        {% endif %}
    {% endif %}
</div>

<img src="{{ asset('/img/artwork/chess.png') }}" class="home">

{{ render(controller('App\\Controller\\MessageController::index')) }}

{% if text %}
    <div class="whitepad admin-text">
        {{ text|markdown_to_html }}
    </div>
{% endif %}

{% endblock %}
