{% extends 'base.html.twig' %}


{% block body %}
<div class="current-season">
    {% if season is null %}
        We're currently in off-season.
    {% else %}
        <strong>{{ season.name }}</strong>
        {% if season.current() %}
            ending {{ season.ending | countdown('days', 'in') }}
        {% else %}
            has ended.
        {% endif %}
    {% endif %}
</div>

<img src="{{ asset('/img/artwork/chess.png') }}" class="home">

{{ render(controller('App\\Controller\\MessageController::index')) }}

{% if text %}
    <div class="whitepad">
        {{ text|markdown_to_html }}
    </div>
{% endif %}

{% endblock %}
