{% extends 'base.html.twig' %}


{% block body %}
<div class="current-season">
    {% if season is null %}
        We're currently in off-season.
    {% else %}
        <strong>{{ season.name }}</strong>
        ending {{ season.ending | countdown('days', 'in') }}
    {% endif %}
</div>

<img src="{{ asset('/img/artwork/chess.png') }}" class="home">

<div class="shoutbox" class="darkpad">
    <form action="{{ path('app_message') }}" method="POST">
        <zemke-tagbox ci>
            <input type="text" name="body">
            <select multiple name="recipients">
                {% for u in users %}
                    <option value="{{ u.id }}">{{ u.username }}</option>
                {% endfor %}
            </select>
        </zemke-tagbox>
        <input type="submit" value="Send">
    </form>
</div>

<p class="prelude text-tertiary">
    <span class="nowrap">Worms League is a multi-purpose rental ladder.</span><br>
    <span class="nowrap">It’s proudly hosting Experimental Schemes League</span>
    for its inaugural season.
</p>
<p class="text-right">
    Do you want to host a ladder here? Reach out to me.
</p>
<div class="shrink">
    <div class="text-center">
        <img src="{{ asset('/img/esl.png') }}">
    </div>
    <p>
        Please read the full information about the Alt-F4 scheme:
        <a href="https://worms2d.info/Alt-F4" target="_blank">worms2d.info/Alt-F4</a>
    </p>
    <p>
        6 worms per player<br>
        Best of three by default (best of one or best of five by agreement)<br>
        Maps: Island
    </p>
    <p>
        Each worm is only allowed to use weapons from the weapon panel row it is named after
        (including F12 for Select Worm and Freeze) and anything from the F8 row and any utility.
        If you accidentally break this rule, the punishment for it is skip-going on your following turn.
        If you break a rule on final winning turn, you lose the round. If you do it twice, you lose the round.
    </p>
    <p>
        Each player is only allowed at most one of any particular F-key on their team—no duplicates.
    </p>
    <p>
        If you have any questions, please contact our
        <a target="_blank" href="https://discord.gg/cnmxTCkBdN">Discord channel</a>
        or the
        <a target="_blank" href="https://www.tus-wa.com/forums/wosc-esl-experimental-schemes-league/">TUS forum board</a>.
    </p>
    <p class="whitepad">
        Register and report your games under the menu at the top right (when you’re logged in).
        It’s enough to upload the relevant replays and select the opponent. The system is hopefully
        smart enough to find the winner in each replay.<br>
        If you find bugs, there’s also an entry “Bug” in that menu where you can report them. Thanks.
    </p>
</div>

{% endblock %}
