{% extends 'base.html.twig' %}

{% block title %}Matches{% endblock %}

{% block body %}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th colspan="3">Score</th>
            <th>Time</th>
            <th>
                <!--<i class="comment"></i>-->
                <img src="/img/speech.png" alt="Comments">
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
        <tr>
            <td>
                {{ game.id }}
            </td>
            <td>
                {{ game.home.username }}
            </td>
            <td>
                {{ game.scoreHome }}–{{ game.scoreAway }}
            </td>
            <td>
                {{ game.away.username }}
            </td>
            <td>
                {{ game.created | date('Y-m-d H:i') }}
            </td>
            <td>
                <a href="/todo">4</a>
            </td>
            <td>
                <img src="/img/replay.png" alt="Replay">
                <!--<i class="replay"></i>-->
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
