{% extends 'base.html.twig' %}

{% block title %}{{ game.home.username }} {{ game.scoreHome }}–{{ game.scoreAway }} {{ game.away.username }}{% endblock %}

{% block body %}

{% if not game.season.active %}
    <div class="alert info">
        Game from season
        <a href="{{ path('app_archive_view', {seasonId: game.season.id}) }}">
            {{ game.season.name }}
        </a>
    </div>
{% endif %}

{% if not game.fullyProcessed() %}
    <div class="alert warn">
        This game has not been fully processed yet.
    </div>
    <div class="text-right">
        {% for replay in game.sortedReplays() %}
            <a href="{{ asset('/replays/' ~ game.id ~ '/' ~ replay.name) }}"
               class="inline-block">
                <img src="{{ asset('/img/replay.png') }}"
                     height="30"
                     alt="Download Replay"
                     title="Download Replay">
            </a>
        {% endfor %}
    </div>
    <br>
{% else %}
    <div class="gotocomments">
        <a href="#comments">
            Go to comments
            <img src="{{ asset('/img/speech.png') }}">
        </a>
    </div>
{% endif %}

{% if game.fullyProcessed() %}
    {% for replay in game.sortedReplays() %}
        <div class="whitepad text-bold inline-block">
            Round {{ loop.index }}
        </div>
        <div class="whitepad">
            <div class="col-12 map">
                <img src="{{ asset('/maps/' ~ game.replays[loop.index0].replayMap.name) }}"
                     title="{{ game.replays[loop.index0].replayData.texture.local() }}"
                     alt="Map">
            </div>
            <div class="col-12">
                <div class="chat">
                    {% for message in game.replays[loop.index0].replayData.data.messages %}
                        <span class="user">{{ message.user }}</span>
                        <span class="body">{{ message.body }}</span>
                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br>
    {% endfor %}

    <br>
    <a name="comments"></a>
{% endif %}

<div class="row">
    {% if game.fullyProcessed() %}
        <div class="col-4">
            <div class="replays">
                {% for rep in game.sortedReplays() %}
                    <a href="{{ asset('/replays/' ~ game.id ~ '/' ~ rep.name) }}"
                       class="inline-block"
                       {% if rep.processed() %}data-tooltip="{{ rep.replayData.startedAt() | date('M. j, H:i') }}"{% endif %}>
                        <img src="{{ asset('/img/replay.png') }}"
                             alt="Download Replay"
                             title="Download Replay">
                    </a>
                {% endfor %}
            </div>
            <ul class="tabs">
                <li>
                    Round
                </li>
                {% for _ in game.sortedReplays() %}
                    <li class="{{ round == (loop.index0) ? 'active' : '' }}">
                        <a href="?round={{ loop.index }}#comments">
                            {{ loop.index }}
                        </a>
                    </l/>
                {% endfor %}
            </ul>
            <div class="whitepad">
                {{ render(controller(
                       'App\\Controller\\StatsController::stats',
                       {gameId: game.id, round: round}
                )) }}
            </div>
            <div class="dropdown-wrapper text-right">
                <button class="void" data-dropdown-action>
                    <strong>?</strong>
                </button>
                <div class="dropdown text-left" data-dropdown-target>
                    <div class="p1">
                        <p>
                            The bars in the background are approximations of health points. They do not include health reductions due
                            self-killing weapons like Kamikaze or continuous health reductions due to Sudden Death or Skunks or the like.<br>
                            They’re actually more like accumulations of damage conceded.
                        </p>
                        <p>
                            Other than that the bars in the background depict the state after that turn whose used weapons are shown on top
                            with a border of the color of the team that used that weapon.
                        </p>
                        <p>
                            Dashed red border means that the turn has ended due to the Worm losing control. Like he or she
                            slipped or fell off the cliff or the like. Poor worm.
                        </p>
                        <p>
                            Weapons like Ninja Rope are shown to be used even if the usage didn’t reduce ammo.
                            Like when shooting a Ninja Rope into empty space.
                        </p>
                        <p>
                            Wave means Sudden Death in that turn.
                        </p>
                        <p>
                            Powered by <a href="https://waaas.zemke.io/" target="_blank" class="font-weight-bolder">WAaaS</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="col">
        <form action="{{ path('app_match_comment', {gameId: game.id}) }}" method="post">
            <div>
                <textarea name="body"
                          class="textarea"
                          rows="4"
                          placeholder="Why not compose a comment?"></textarea>
            </div>
            <input type="hidden" name="token" value="{{ csrf_token('add-comment') }}"/>
            <div class="text-right">
                <input type="submit" value="Comment">
            </div>
        </form>
        <br>
        <div class="comments whitepad">
            {% if game.comments is empty %}
                <span class="text-italic">Be the first to comment.</spaF>
            {% endif %}
            {% for comment in game.comments|sort((a, b) => b.modified <=> a.modified) %}
                <div>
                    <a href="{{ path('app_user_view', {usernameOrId: comment.author.username}) }}">
                        {{ comment.author.username }}
                    </a>
                    <div class="small float-right">
                        on <strong>{{ comment.modified|date('M. j') }}</strong>
                        at <strong>{{ comment.modified|date('H:i') }}</strong>
                    </div>
                    {% for ln in comment.body|split("\n\n") %}
                        {% if ln != '' %}<p>{{ ln|nl2br|auto_link|striptags('<a><br>')|raw }}</p>{% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

