{% extends 'base.html.twig' %}

{% block title %}
    {{ game.home.username }}
    {{ game.scoreHome }}–{{ game.scoreAway }}
    {{ game.away.username }}
{% endblock %}

{% block body %}

<ul class="tabs">
    <li>
        Round
    </li>
    {% for _ in game.replays %}
        <li class="{{ round == (loop.index-1) ? 'active' : '' }}">
            <a href="?round={{ loop.index }}">
                {{ loop.index }}
            </a>
        </li>
    {% endfor %}
</ul>

<div class="whitepad row g-0">
    <div class="col-4">
        {{ render(controller(
               'App\\Controller\\MatchController::stats',
               {gameId: game.id, round: round}
        )) }}
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-12 map">
                <img src="/maps/{{ game.replays[round].replayMap.name }}"
                     title="{{ game.replays[round].replayData.texture.local() }}"
                     alt="Map">
            </div>
            <div class="col-12">
                <div class="chat">
                    {% for message in game.replays[round].replayData.data.messages %}
                        <span class="user">{{ message.user }}</span>
                        <span class="body">{{ message.body }}</span>
                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
{{ dump(game) }}

{% endblock %}
