{% extends 'base.html.twig' %}

{% block title %}
    {{ game.home.username }}
    {{ game.scoreHome }}–{{ game.scoreAway }}
    {{ game.away.username }}
{% endblock %}

{% block body %}

<ul class="tabs">
    <li>
        Round
    </li>
    <li>
        <a href="">
            1
        </a>
    </li>
    <li>
        <a href="">
            2
        </a>
    </li>
</ul>

<div class="whitepad row g-0">
    <div class="col-4">
        Stats
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-12 map">
                <img src="/maps/{{ game.replays[0].replayMap.name }}"
                     title="{{ game.replays[0].replayData.texture.local() }}"
                     alt="Map">
            </div>
            <div class="col-12">
                <div class="chat">
                    {% for message in game.replays[0].replayData.data.messages %}
                        <span class="user">{{ message.user }}</span>
                        <span class="body">{{ message.body }}</span>
                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
{{ dump(game) }}

{% endblock %}
