{% extends 'base.html.twig' %}

{% block title %}
    {{ game.home.username }}
    {{ game.scoreHome }}–{{ game.scoreAway }}
    {{ game.away.username }}
{% endblock %}

{% block body %}

{% if not game.fullyProcessed() %}
    <div class="alert warn">
        This game has not been fully processed yet.
    </div>
    {% for replay in game.replays %}
        <div class="text-right">
            <a href="/replays/{{ game.id }}/{{ replay.name }}"
               class="inline-block">
                <img src="{{ asset('/img/replay.png') }}"
                     height="30"
                     alt="Download Replay"
                     title="Download Replay">
            </a>
        </div>
    {% endfor %}
    <br>
{% else %}
    <div class="gotocomments">
        <a href="#comments">
            Go to comments
            <img src="{{ asset('/img/speech.png') }}">
        </a>
    </div>
{% endif %}

{% if game.fullyProcessed() %}
    {% for replay in game.replays %}
        <div class="whitepad text-bold inline-block">
            Round {{ loop.index }}
        </div>
        <div class="whitepad">
            <div class="col-12 map">
                <img src="{{ asset('/maps/' ~ game.replays[loop.index0].replayMap.name) }}"
                     title="{{ game.replays[loop.index0].replayData.texture.local() }}"
                     alt="Map">
            </div>
            <div class="col-12">
                <div class="chat">
                    {% for message in game.replays[loop.index0].replayData.data.messages %}
                        <span class="user">{{ message.user }}</span>
                        <span class="body">{{ message.body }}</span>
                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br>
    {% endfor %}

    <br>
    <a name="comments"></a>
{% endif %}

<div class="row">
    {% if game.fullyProcessed() %}
        <div class="col-4">
            <div class="replays">
                {% for rep in game.replays | sort((a,b) =>
                    (a.replayData is null or b.replayData is null)
                        ? 0 : ((a.replayData.data.startedAt|date("U")) - (b.replayData.data.startedAt|date("U")) ? 1 : -1)) %}
                    <a href="/replays/{{ game.id }}/{{ rep.name }}"
                       class="inline-block"
                       {% if rep.processed() %}data-tooltip="{{ rep.replayData.startedAt() | date('M. j, H:i') }}"{% endif %}>
                        <img src="{{ asset('/img/replay.png') }}"
                             alt="Download Replay"
                             title="Download Replay">
                    </a>
                {% endfor %}
            </div>
            <ul class="tabs">
                <li>
                    Round
                </li>
                {% for _ in game.replays %}
                    <li class="{{ round == (loop.index0) ? 'active' : '' }}">
                        <a href="?round={{ loop.index }}#comments">
                            {{ loop.index }}
                        </a>
                    </l/>
                {% endfor %}
            </ul>
            <div class="whitepad">
                {{ render(controller(
                       'App\\Controller\\StatsController::stats',
                       {gameId: game.id, round: round}
                )) }}
            </div>
        </div>
    {% endif %}
    <div class="col">
        <form action="{{ path('app_match_comment', {gameId: game.id}) }}" method="post">
            <div>
                <textarea name="body"
                          class="textarea"
                          rows="4"
                          placeholder="Why not compose a comment?"></textarea>
            </div>
            <div class="text-right justthetip">
                <input type="submit" value="Comment">
            </div>
            <!-- TODO CSRF -->
        </form>
        <br>
        <div class="comments whitepad">
            {% if game.comments is empty %}
                <span class="text-italic">Be the first to comment.</spaF>
            {% endif %}
            {% for comment in game.comments|sort((a, b) => b.modified <=> a.modified) %}
                <div>
                    <a href="todo">
                        {{ comment.author.username }}
                    </a>
                    <div class="small float-right">
                        on <strong>{{ comment.modified|date('M. j') }}</strong>
                        at <strong>{{ comment.modified|date('H:i') }}</strong>
                    </div>
                    {% for ln in comment.body|split("\n\n") %}
                        {% if ln != '' %}<p>{{ ln|e|nl2br }}</p>{% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

