{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

<div class="alert info">
    Updating or deleting games does not update the ranking.
    You have to trigger re-calculation explicitly.
</div>

<h1>Edit or Delete Game</h1>

<form action="{{ path('app_admin') }}" method="POST">
    <div>
        <label for="game">Edit Game</label>
        <select id="game" name="game" required>
            <option value="" selected disabled></option>
            {% for g in games %}
                <option value="{{ g.id }}">
                    {{ g.id }} {{ g.home.username }} {{ g.scoreHome }}–{{ g.scoreAway }} {{ g.away.username }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="scoreHome">Score Home</label>
        <input type="number" name="scoreHome" id="scoreHome">
    </div>
    <div>
        <label for="scoreAway">Score Away</label>
        <input type="number" name="scoreAway" id="scoreAway">
    </div>
    <div>
        <label for="delete">Delete</label>
        <input type="checkbox" name="delete" id="delete">
    </div>
    <div>
        <input type="submit" value="Submit" onclick="return confirm('Are you sure?')">
    </div>
</form>

<h1>Ranking</h1>

<div class="whitepad">
    <form action="{{ path('app_admin_trigger') }}" method="POST">
        <div>
            <label for="trigger">
                Calculate the ranking based on the current games.<br>
                The operation may take some time.<br>
                The operation is idempotent.
            </label>
            <input type="submit" id="trigger" value="Trigger Ranking Calc">
        </div>
    </form>
</div>

<h1>Text</h1>

<div class="whitepad">
    <form action="{{ path('app_admin_text') }}" method="POST">
        <div>
            <label for="text">
                Enter text to appear on the home page.<br>
                You can use basic syntax <a href="https://www.markdownguide.org/cheat-sheet/#basic-syntax" target="_blank">Markdown</a>
            </label>
            <textarea
                rows="20"
                id="text"
                name="text"
                placeholder="Enter text here...">{{ text }}</textarea>
            <input type="submit" value="Submit">
        </div>
    </form>
</div>

{% endblock %}

