{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

<div class="float-right">
    <p>
        <a href="{{ path('app_admin') }}">
            Back to Admin Panel
        </a>
    </p>
</div>

<h1>Start Playoffs</h1>

<div class="alert info">
    You can prepare the playoffs bracket for the season that's currently set to active here.
    The playoffs start once the ladder season ending time has exceeded.
    If you want the playoffs to start immediately set the ending time of the active season to the past.
</div>

{% if final %}
    <p>First Playoff Bracket</p>
{% endif %}

{% if not final %}
    <form method="GET" action="{{ path('app_admin_playoffs') }}">
        <div>
            <label for="users">
                Who should be in the playoffs?<br>
                Hold <kbd>Ctrl</kbd> or <kbd>CMD</kbd> to select multiple.
            </label>
            <select name="users[]" id="users" multiple size="30" required>
                {% for u in users|sort((a,b) => a.username|lower <=> b.username|lower) %}
                    <option value="{{ u.id }}">{{ u.username }} ({{ u.place|format_ordinal_number }})</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <input type="submit" value="Next Step">
        </div>
    </form>
{% else %}
    <form method="POST" action="{{ path('app_admin_playoffs', app.request.query.all()) }}">
        {% for i in 1..((users|length)/2) %}
            <div>
                <label>Game {{ loop.index }}</label>
                <select name="game{{ loop.index }}_home" id="game{{ loop.index }}_home" required>
                    {% for u in users|sort((a,b) => a.username|lower <=> b.username|lower) %}
                        <option value="{{ u.id }}">{{ u.username }} ({{ u.place|format_ordinal_number }})</option>
                    {% endfor %}
                </select>
                <select name="game{{ loop.index }}_away" id="game{{ loop.index }}_away" required>
                    {% for u in users|sort((a,b) => a.username|lower <=> b.username|lower) %}
                        <option value="{{ u.id }}">{{ u.username }} ({{ u.place|format_ordinal_number }})</option>
                    {% endfor %}
                </select>
            </div>
        {% endfor %}
        <div>
            <input type="submit" value="Start Playoffs">
        </div>
    </form>
{% endif %}

{% endblock %}


