{% extends 'base.html.twig' %}

{% block title %}Report{% endblock %}

{% block body %}

{% if opponents is defined and opponents is not empty %}
    <div class="alert warn">
        Only upload replays that account to the end result of the game
        as it is automatically derived from them.<br>
        You can upload drawn rounds, though.
    </div>
    <div {{ stimulus_controller('report') }}>
        <form action="{{ path('app_report') }}" method="POST" enctype="multipart/form-data">
            <select name="opponent" required>
                <option value="" selected disabled>Opponent</option>
                {% for opponent in opponents %}
                    <option value="{{ opponent.id }}">{{ opponent.username }}</option>
                {% endfor %}
            </select>
            <input type="file"
                   name="replays[]"
                   required
                   data-report-target="fileInput"
                   {{ stimulus_action('report', 'listFiles', 'change') }}
                   multiple>
            <button type="submit">
                Report
            </button>
        </form>
        <ul data-report-target="files" class="small monospace">
        </ul>
    </div>
{% endif %}
{% endblock %}

