{% extends 'base.html.twig' %}
{% block title %}{{ season.name }} — {{ tab|capitalize }}{% endblock %}
{% block body %}
    <ul class="tabs">
        {% for t in tabs %}
            <li class="{{ tab == t ? 'active' : '' }}">
                <a href="?tab={{ t }}">
                    {{ t|capitalize }}
                </a>
            </li>
        {% endfor %}
    </ul>
    {% if tab == 'ladder' %}
        {{ render(controller(
            'App\\Controller\\LadderController::view', {seasonId: season.id}
        )) }}
    {% elseif tab == 'matches' %}
        {{ render(controller(
            'App\\Controller\\MatchController::matches', {seasonId: season.id}
        )) }}
    {% elseif tab == 'playoffs' %}
        <div class="whitepad">
            {{ render(controller(
                'App\\Controller\\PlayoffsController::view', {seasonId: season.id}
            )) }}
        </div>
    {% endif %}
{% endblock %}

