<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="theme-color" content="#1f3f5e">
  <title>{% block title %}Worms League{% endblock %}</title>
  <link rel="shortcut icon" href="{{ asset('/icons/favicon.ico') }}" type="image/x-icon">
  <link rel="manifest" href="{{ asset('/manifest.json') }}">
  <link rel="apple-touch-icon" href="{{ asset('/icons/apple-touch-icon.png') }}"/>
  {% block stylesheets %}
    {{ encore_entry_link_tags('bootstrap') }}
    {{ encore_entry_link_tags('app') }}
  {% endblock %}
  {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
  {% endblock %}
</head>
<body>
  <div class="top-bar">
    <div class="container">
      <div>
        <span id="account">
        </span>
        {% if app.user %}
          <div class="dropdown-wrapper">
              <button class="void gear-wrapper" data-dropdown-action>
                  <i class="icon gear text-primary"></i>
              </button>
              <div class="dropdown" data-dropdown-target>
                <a href="{{ path('app_logout') }}">
                  Log out
                </a>
                <a href="{{ path('app_report') }}">
                  Report
                </a>
                <a href="/todo">
                  Settings
                </a>
              </div>
          </div>
        {% else %}
          <div class="sign-in">
            <form action="{{ path('app_login') }}" method="POST">
                <input type="text" id="username" name="_username" placeholder="Username or Email">
                <input type="password" id="password" name="_password" placeholder="Password">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                {# If you want to control the URL the user is redirected to on success #}
                <input type="hidden" name="_target_path" value="/"/>
                <button type="submit">Log in</button>
            </form>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="container content">
    <div class="uber">
      <h1>
        <a href="/">
          <span class="worms"><span class="first-letter">W</span>orms</span>
          <span class="league"><span class="first-letter">L</span>eague</span>
          <img class="worm" src="{{ asset('/img/worm.png') }}">
        </a>
      </h1>
    </div>
    <nav class="nav">
      <a class="nav-item {{ app.request.pathinfo starts with '/ladder' ? 'active' : '' }}"
         href="{{ path('app_ladder') }}">
        Ladder
      </a>
      <a class="nav-item {{ app.request.pathinfo starts with '/matches' ? 'active' : '' }}"
         href="{{ path('app_match') }}">
        Matches
      </a>
      <a class="nav-item {{ app.request.pathinfo starts with '/archive' ? 'active' : '' }}"
         href="{{ path('app_archive') }}">
        Archive
      </a>
      <a class="nav-item {{ app.request.pathinfo starts with '/help' ? 'active' : '' }}"
         href="{{ path('app_help') }}">
        Help
      </a>
    </nav>
    <div class="page">
        <div class="head">
            {{ block('title') }}
        </div>
        {% for label, messages in app.flashes %}
          {% for message in messages %}
            <div class="alert {{ label }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </div>
  </div>
</body>
</html>

