<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Worms League{% endblock %}</title>
  <link rel="shortcut icon" href="/icons/favicon.ico" type="image/x-icon">
  <link rel="manifest" href="manifest.json">
  <link rel="apple-touch-icon" href="/img/icons/apple-touch-icon.png"/>
  {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
  {% endblock %}
  {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
  {% endblock %}
</head>
<body>
  <div class="top-bar">
    <div class="container">
      <div>
        <span id="account">
        </span>
        {% if app.user %}
          <button type="button" id="sign-out" onclick="location.href='/logout'">
            Sign out
          </button>
        {% else %}
          <div class="sign-in">
            <form action="{{ path('app_login') }}" method="POST">
                <input type="text" name="usernameOrEmail" id="usernameOrEmail" placeholder="Username or Email" required>
                <input type="password" name="password" id="password" placeholder="Password" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button type="submit">Log in</button>
            </form>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="container content">
    <div class="uber">
      <h1>
        <a href="/">
          <span class="worms"><span class="first-letter">W</span>orms</span>
          <span class="league"><span class="first-letter">L</span>eague</span>
          <img class="worm" src="/img/worm.png">
        </a>
      </h1>
    </div>
    <nav class="nav">
      <a class="nav-item {{ app.request.pathinfo starts with '/ladder' ? 'active' : '' }}"
         href="/ladder">
        Ladder
      </a>
      <a class="nav-item {{ app.request.pathinfo starts with '/matches' ? 'active' : '' }}"
         href="/matches">
        Matches
      </a>
      <a class="nav-item {{ app.request.pathinfo starts with '/archive' ? 'active' : '' }}"
         href="/archive">
        Archive
      </a>
      <a class="nav-item {{ app.request.pathinfo starts with '/help' ? 'active' : '' }}"
         href="/help">
        Help
      </a>
    </nav>
    <div class="page">
        <div class="head">
            {{ block('title') }}
        </div>
        {% for label, messages in app.flashes %}
          {% for message in messages %}
            <div class="alert {{ label }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </div>
  </div>
</body>
</html>

