<div class="stats">
    <div class="top" style="background: linear-gradient(to right, {{ gradients[0]|join(', ') }})"> {% for i in [0, 1] %}
            <div class="user">
                <span class="user">{{ stats.teams[i].user }}</span>
                <span class="team">{{ stats.teams[i].team }}</span>
            </div>
        {% endfor %}
    </div>
    {% for turn in stats.turns %}
        <div>
            {% if suddenDeathBeforeTurn == loop.index %}
                <div class="suddenDeath">
                    <img src="{{ asset('/img/water.gif') }}" alt="water"/>
                    <img src="{{ asset('/img/water.gif') }}" alt="water"/>
                </div>
            {% endif %}
            <div class="turn"
                 style="background: linear-gradient(to right, {{ gradients[loop.index]|join(', ') }})"
                 [ngClass]="{'lossOfControl': turn.lossOfControl}">
                <div class="kills">
                    {% for _ in range(0, kills[loop.index0][stats.teams[0].user]) %}
                        {% if not loop.first %}
                            <img src="{{ asset('/img/grave.png') }}"/>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="weapons">
                    {% for weapon in turn.weapons %}
                        <div class="weapon {{ stats.teams[(loop.parent.loop.index0 % 2 == 0)|format_number].color|lower }}"
                             data-tooltip="{{ weapon }}">
                            <img src="{{ asset('/img/weapons/' ~ weapon|lower|split(' ')|join ~ '.png') }}" alt="{{ weapon }}">
                        </div>
                    {% endfor %}
                </div>
                <div class="kills">
                    {% for _ in range(0, kills[loop.index0][stats.teams[1].user]) %}
                        {% if not loop.first %}
                            <img src="{{ asset('/img/grave.png') }}"/>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="top" style="background: linear-gradient(to right, {{ gradients[0]|join(', ') }})">
        {% for averageTurnTime in averageTurnTimes %}
            <div class="user">
                &empty; {{ averageTurnTime }}s
            </div>
        {% endfor %}
    </div>
    <div class="top">
        {{ stats.roundTime|split(':')[1] }}m
        {{ stats.roundTime|split(':')[2] }}s
    </div>
</div>



<div class="text-right mt-1">
    <div style="display: none;">
        <p>
            The bars in the background are approximations of health points. They do not include health reductions to due
            self-killing weapons like Kamikaze or continuous health reductions due to Sudden Death or Skunks or the like.<br>
            They’re actually more like accumulations of damage conceded.
        </p>
        <p>
            Other than that the bars in the background depict the state after that turn whose used weapons are shown on top
            with a border of the color of the team that used the weapon.
        </p>
        <p>
            Dashed red border means that the turn has ended due to the Worm losing control. Like he or she
            slipped or fell off the cliff or the like. Poor worm.
        </p>
        <p>
            Weapons like Ninja Rope are shown to be used even if the usage didn’t reduce ammo.
            Like when shooting a Ninja Rope into empty space.
        </p>
        <p *ngIf="suddenDeathBeforeTurn !== -1">
            Yes, that wave is Sudden Death.
        </p>
        <p>
            Powered by <a href="https://waaas.zemke.io/" target="_blank" class="font-weight-bolder">WAaaS</a>
        </p>
    </div>
    <i class="fa cursor-pointer fa-question d-none d-sm-block"
       [ngbPopover]="statsDescription" placement="right-bottom"></i>
</div>

