<div class="stats">
    <div class="top" style="background: linear-gradient(to right, {{ gradients[0]|join(', ') }})">
        {% for i in [0, 1] %}
            <div class="user">
                <span class="user">{{ stats.teams[i].user }}</span>
                <span class="team">{{ stats.teams[i].team }}</span>
            </div>
        {% endfor %}
    </div>
    {% for turn in stats.turns %}
        <div>
            {% if suddenDeathBeforeTurn == loop.index %}
                <div class="suddenDeath">
                    <img src="{{ asset('/img/water.gif') }}" alt="water"/>
                    <img src="{{ asset('/img/water.gif') }}" alt="water"/>
                </div>
            {% endif %}
            <div class="turn {{ turn.lossOfControl ? 'lossOfControl' : '' }}"
                 style="background: linear-gradient(to right, {{ gradients[loop.index]|join(', ') }})">
                <div class="kills">
                    {% for _ in range(0, kills[loop.index0][stats.teams[0].user]) %}
                        {% if not loop.first %}
                            <img src="{{ asset('/img/grave.png') }}"/>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="weapons">
                    {% for weapon in turn.weapons %}
                        <div class="weapon {{ stats.teams[(loop.parent.loop.index0 % 2 == 0)|format_number].color|lower }}"
                             data-tooltip="{{ weapon }}">
                            <img src="{{ asset('/img/weapons/' ~ weapon|lower|split(' ')|join ~ '.png') }}" alt="{{ weapon }}">
                        </div>
                    {% endfor %}
                </div>
                <div class="kills">
                    {% for _ in range(0, kills[loop.index0][stats.teams[1].user]) %}
                        {% if not loop.first %}
                            <img src="{{ asset('/img/grave.png') }}"/>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="top" style="background: linear-gradient(to right, {{ gradients[0]|join(', ') }})">
        {% for averageTurnTime in averageTurnTimes %}
            <div class="user">
                &empty; {{ averageTurnTime }}s
            </div>
        {% endfor %}
    </div>
    <div class="top">
        {{ stats.roundTime|split(':')[1] }}m
        {{ stats.roundTime|split(':')[2] }}s
    </div>
</div>

